<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Torneo de Fútbol</title>
</head>

<body>
    <div class="container">
        <h1>Torneo de Fútbol</h1>
        <h2>Equipos</h2>
        <ul>
            {% for team in teams %}
            <li>{{ team }}</li>
            {% endfor %}
        </ul>

        <h2>Partidos</h2>
        
        <form id="matchForm">
            {% for partido in partidos %}
            <div>
                <label>{{ partido[0] }} vs {{ partido[1] }}</label>
                <select name="winner">
                    <option value="{{ partido[0] }}">{{ partido[0] }}</option>
                    <option value="{{ partido[1] }}">{{ partido[1] }}</option>
                </select>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Enviar Selecciones</button>
        </form>

        <h2 id="winnerTitle">Equipo Ganador</h2>
        
        <div id="winnerTeam"></div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#matchForm').submit(function(e) {
                e.preventDefault();
                var resultados = [];
                $('select[name="winner"]').each(function() {
                    resultados.push($(this).val());
                });
                $.ajax({
                    url: '/get_winner',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({resultados: resultados}),
                    success: function(response) {
                        $('#winnerTitle').show();
                        $('#winnerTeam').text("El Equipo Ganador del Torneo es: " + response.winner);
                    }
                });
            });
        });
    </script>
</body>
</html>
